{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "chrome": "49",
                    "firefox": "65",
                    "safari": "12"
                },
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": "3"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "ignore": [
        "node_modules/**"
    ]
}
